*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    scroll-behavior: smooth;
    font-size: 62.5%
}

header {
    height: 10rem;
    width: 100%;
}




/* header  */

.left {
    margin-right: auto;
}

nav {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

nav>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 3rem;
    margin-right: 3rem;
}

nav>ul>li {
    height: 100%;
    font-size: 4rem
}

nav>ul>li>a {
    display: block;
    text-align: right;
    line-height: 9rem;
}

nav>ul>li>a:visited,
nav>ul>li>a:link {
    color: #e6ccff;
    text-decoration: none;
}

.logo {
    height: 10rem;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(14, 1fr);
    height: 100rem;
    background-color: #FFF6FE;
}

.zwart {
    grid-column: 2/12;
    grid-row: 1/12;
    padding-top: 2rem;
}

.img-zwart {
    height: 100%;
    width: 100%;
}

.add-to-cart--button {
    grid-column: 14/20;
    grid-row: 8/10;
    background: white;
    font-size: 4rem;
    color: black;
}

.text--button {
    color: black;
}

.add-to-cart--button:hover {
    background-color: #e6ccff;
    border: none;
    border-radius: 2rem;
    transition: 0.4s;
    cursor: pointer;
}

.card--button {
    grid-column: 2/11;
    grid-row: 9/12;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart--button:hover>.text--button {
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

.product-name {
    grid-column: 14/24;
    grid-row: 2/4;
    font-size: 7rem;
}

.img-black {
    width: 6rem;
    height: 6rem;
    grid-column: 14/15;
    grid-row: 4/5;
    border-radius: 50%
}

.img-white {
    width: 6rem;
    height: 6rem;
    grid-column: 15/16;
    grid-row: 4/5;
    border-radius: 50%
}

.img-grey {
    width: 6rem;
    height: 6rem;
    grid-column: 16/17;
    grid-row: 4/5;
    border-radius: 50%
}

.img-cart {
    width: 10rem;
    height: 10rem;
    grid-column: 19/20;
    grid-row: 4/5;
    font-size: 6rem;
    text-decoration: none;
}

.zwart-prijs {
    grid-column: 14/18;
    grid-row: 6/7;
    font-size: 5rem;
}

.supreme-beschrijving {
    grid-column: 3/20;
    grid-row: 13/15;
    font-size: 2rem;
    padding-top: 2rem;
}

.fadeIn {
    animation-name: added;
    animation-duration: 2.5s;
}

.added {
    list-style: none;
    background: hsl(308, 100%, 94%);
    grid-column: 7/17;
    grid-row: 4/9;
    list-style: none;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 5;
    font-size:5rem;
}

footer {
    height: 30rem;
    width: 100%;
    background: #A492B2;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    font-size: 4rem;
}

.footer--hover{
    color:white;
    display:flex;
    flex-direction: column;
    text-decoration: none;
    gap:4rem;
}

.footer--hover:hover{
    text-decoration: underline;
}

@keyframes added {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75%{
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

@media screen and (max-width: 62.5rem) {
    .a-popup {
        animation-name: "broken";
        animation-duration: 0s;
    }
}