* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    font-size: 62.5%
}

header {
    height: 10rem;
    width: 100%;
    background: black;

}

body {
    color: white
}

.section--top{
    grid-template-rows: 12;
    grid-template-columns:12;
}

/* header  */

.left {
    margin-right: auto;
}

nav {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

nav>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 3rem;
    margin-right: 7rem;
}

nav>ul>li {
    height: 100%;
    font-size: 4rem
}

nav>ul>li>a {
    display: block;
    text-align: right;
    line-height: 9rem;
}

nav>ul>li>a:visited,
nav>ul>li>a:link {
    color: #e6ccff;
    text-decoration: none;
}

/* images */

.bigFigure {
    width: 100%;
    height: 90vh;
}

.bigFigure>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: right;
}

.collections {
    width: 100%;
    padding: 4rem;
}

.collectionsList {
    list-style: none;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}

.collectionsListItem {
    width: 30rem;
    height: 30rem;
    background: black;
    flex-shrink: 0;
    flex-grow: 0;
}

.collectionsListItem>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    height: 10rem;
    width: 100%;

}

.slogan {
    position: absolute;
    top: 30%;
    left:26%;
    color: #e6ccff;
    font-size: 4rem;
}

.knop--main{
    position: absolute;
    top: 50%;
    left:27%;
    color: #e6ccff;
    font-size: 4rem;
}