*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    scroll-behavior: smooth;
    font-size: 62.5%
}

header {
    height: 10rem;
    width: 100%;
}

body {
    color: white;
}




/* header  */

.left {
    margin-right: auto;
}

nav {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

nav>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 3rem;
    margin-right: 3rem;
}

nav>ul>li {
    height: 100%;
    font-size: 4rem
}

nav>ul>li>a {
    display: block;
    text-align: right;
    line-height: 9rem;
}

nav>ul>li>a:visited,
nav>ul>li>a:link {
    color: #e6ccff;
    text-decoration: none;
}

/* images */

.bigFigure {
    width: 100%;
    height: 90vh;
}

.bigFigure>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: right;
}

.collections {
    width: 100%;
    padding: 4rem;
}

.collectionsList {
    list-style: none;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}

.collectionsListItem {
    width: 30rem;
    height: 30rem;
    background: black;
    flex-shrink: 0;
    flex-grow: 0;
}

.collectionsListItem>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    height: 10rem;
    width: 100%;
}


.slogan {
    position: absolute;
    top: 30%;
    left: 26%;
    color: #e6ccff;
    font-size: 6rem;
}

img {
    width: 100%;
}

.card {
    border-radius: 4rem;
    list-style: none;
    background: white;
    box-shadow: 0 1rem 1rem 0 grey;
}

.card--invisible {
    list-style: none;
    border: 2px solid black;

}

.cardproduct {
    border-radius: 4rem;
    list-style: none;
    background: white;
    box-shadow: 0 1rem 1rem 0 grey;
    transition: 0.5s transform;
}

.card--product1 {
    grid-column: 2/6;
    grid-row: 8/13;
}

.card--product2 {
    grid-column: 7/11;
    grid-row: 8/13;
}

.card--product3 {
    grid-column: 12/16;
    grid-row: 8/13;
}

.card--product4 {
    grid-column: 17/21;
    grid-row: 8/13;
}

.section--2 {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 160rem
}

.section--3 {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 80rem;
}

.section--4 {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 80rem;
}

.section--5 {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 80rem;
}

.img2 {
    grid-column: 1/14;
    grid-row: 1/8;
    padding-top: 4rem;
    padding-left: 4rem;
    padding-bottom: 4rem;
    width: 100%;
    height: 100%
}

.img3,
.img4,
.img5,
.img6 {
    object-fit: contain;
    width: 100%;
    height: 80%;
}

.card--product1:hover,
.card--product2:hover,
.card--product3:hover,
.card--product4:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.naam--product {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6007e;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.prijs--product {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6007e;
    font-size: 2rem;
    padding-top: 1rem;
}

.ster {
    display: flex;
    justify-content: center;
}

.heading-section--2 {
    font-style: oblique;
    font-size: 6rem;
    color: #e6ccff;
    grid-column: 15/22;
    grid-row: 1/2;
    padding-top: 8rem;
}

.text-section--2 {
    font-size: 4rem;
    grid-column: 15/21;
    grid-row: 2/6;
    color: #e6ccff;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

button {
    background-color: white;
}

.button--main {
    position: absolute;
    top: 50%;
    left: 26%;
    color: #e6ccff;
    font-size: 4rem;
    border-radius: 10px;
    border: none;
    width: 25rem;
    height: 6rem;
    cursor: pointer;
}

.button--main:hover,
.button-section--2:hover {
    background: #e6ccff;
    color: white;
}

.button-section--2 {
    color: #e6ccff;
    font-size: 4rem;
    border-radius: 10px;
    border: none;
    width: 25rem;
    height: 6rem;
    cursor: pointer;
    grid-column: 15/20;
    grid-row: 5/6;
}

/* grid-column: 8/12;
grid-row: 7/12; */

.stappenplan1 {
    grid-column: 4/7;
    grid-row: 1/4;
    height: 100%;
    padding-top: 2rem;
}

.stappenplan2 {
    grid-column: 11/14;
    grid-row: 1/4;
    height: 100%;
    padding-top: 2rem;
}

.stappenplan3 {
    grid-column: 4/7;
    grid-row: 6/8;
    height: 100%;
}

.stappenplan4 {
    grid-column: 11/14;
    grid-row: 6/8;
    height: 100%;
}

.smiley {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.text--stappenplan-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
    padding-top: 1rem;
}

.text--stappenplan-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
    padding-top: 1rem;
}

.text--stappenplan-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
    padding-top: 1rem;
}

.text--stappenplan-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
    padding-top: 1rem;
}

.highlighted-img {
    grid-column: 12/21;
    grid-row: 1/11;
    height: 100%;
    padding-top: 4rem;
    padding-right: 2rem;
    border-radius: 10%;
}

.highlightimg {
    border-radius: 3%;
}


.highlight-heading {
    grid-column: 2/11;
    grid-row: 2/4;
    color: black;
    font-size: 9.2rem;
}

.highlight-description {
    grid-column: 2/11;
    grid-row: 4/6;
    color: black;
    font-size: 5rem;
}

.highlight-description-2 {
    grid-column: 2/11;
    grid-row: 6/8;
    color: black;
    font-size: 5rem;
    padding-top: 5rem;
}

.highlight-button {
    font-size: 10rem;
    display: block;
    border: none;
    color: black;
    text-decoration: none
}

.text--button {
    color: black;
}

.card--button:hover {
    background-color: #e6ccff;
    border-color: #e6ccff;
    border-radius: 2rem;
    transition: 0.4s;
    cursor: pointer;
}

.card--button {
    grid-column: 2/11;
    grid-row: 9/12;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card--button:hover>.highlight-button>.text--button {
    color: white;
    /* background: #e6ccff; */
    transition: 0.4s;
    cursor: pointer;
}

.card--review-1 {
    grid-column: 3/7;
    grid-row: 2/12;
}

.card--review-2 {
    grid-column: 9/13;
    grid-row: 2/12;
}


.card--review-3 {
    grid-column: 15/19;
    grid-row: 2/12;
}

.review--naam-1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: purple;
    font-size: 5rem;
    padding-bottom: 3rem;
}

.review--text-1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3rem;
    padding-bottom: 3rem;
}



.review--img-1 {
    object-fit: fill;
    border-radius: 2rem 2rem 0 0;
    padding-bottom: 3rem;
}

.review--img-2 {
    object-fit: fill;
    border-radius: 2rem 2rem 0 0;
    padding-bottom: 3rem;
}

.review--naam-2 {
    display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    color: purple;
    font-size: 5rem;
    padding-bottom: 3rem;
}

.review--text-2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3rem;
    padding-bottom: 3rem;
}

.review--img-3 {
    object-fit: fill;
    border-radius: 2rem 2rem 0 0;
    padding-bottom: 3rem;
}

.review--naam-3 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: purple;
    font-size: 5rem;
    padding-bottom: 3rem;
}

.review--text-3 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3rem;
    padding-bottom: 3rem;
}

.ster--review-1 {
    font-size: 5rem;
}

.ster--review-2 {
    font-size: 5rem;
}

.ster--review-3 {
    font-size: 5rem;
}

footer {
    height: 30rem;
    width: 100%;
    background: #A492B2;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    font-size: 4rem;
}

.footer--hover{
    color:white;
    display:flex;
    flex-direction: column;
    text-decoration: none;
    gap:4rem;
}

.footer--hover:hover{
    text-decoration: underline;
}


@media screen and (max-width: 45rem){

    .button--main{
        display:none;
    }

    .button-section--2{
        display:none;
    }

    .heading-section--2{
        font-size:3rem;
    }

    .text-section--2{
        font-size:2rem;
    }

    .ster{
        display:none;
    }

    .review--text-1{
        font-size:1rem;
    }
    .review--text-2{
        font-size:1rem;
    }
    .review--text-3{
        font-size:1rem;
    }

    .review--naam-1{
        font-size:2rem;
    }
    .review--naam-2{
        font-size:2rem;
    }
    .review--naam-3{
        font-size:2rem;
    }

    .card--review-1{
        height:35%
    }
    .card--review-2{
        height:35%
    }
    .card--review-3{
        height:35%
    }

    .highlight-button{
        display:none;
    }
    .card--button{
        display:none;
    }

    .highlight-heading{
        font-size:3rem;
    }

    .highlight-description{
        font-size:2rem;
    }

    .highlight-description-2{
        font-size:2rem;
    }

    .text--stappenplan-1{
        font-size:1rem;
    }
    .text--stappenplan-2{
        font-size:1rem;
    }
    .text--stappenplan-3{
        font-size:1rem;
    }
    .text--stappenplan-4{
        font-size:1rem;
    }
}